name: E2E Dependent Sharding

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  validate-brew-sharding:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/homebrew/ubuntu22.04:main
      options: --user=linuxbrew
    defaults:
      run:
        shell: /bin/bash -xeuo pipefail {0}
    env:
      HOMEBREW_DEVELOPER: 1
      HOMEBREW_NO_INSTALL_FROM_API: 1
      HOMEBREW_DEPENDENT_SHARD_COUNT: 4
      BREW_DIR: /github/home/brew
    steps:
      - name: Clone brew branch under test
        run: |
          git clone --depth=1 --branch feat/parrallel-deb-test https://github.com/GunniBusch/brew.git "$BREW_DIR"

      - name: Show branch
        run: |
          cd "$BREW_DIR"
          git rev-parse --abbrev-ref HEAD
          git log -1 --oneline

      - name: Typecheck
        run: |
          cd "$BREW_DIR"
          bin/brew typecheck

      - name: Sharding unit tests
        run: |
          cd "$BREW_DIR"
          bin/brew tests --only=dev-cmd/test-bot
          bin/brew tests --only=test_bot/formulae_dependents
          bin/brew tests --only=github_runner_matrix

      - name: Full quality gate
        run: |
          cd "$BREW_DIR"
          bin/brew lgtm
